body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

main {
  min-width: 320px;
  width: 100%;
  padding: 20px 10px 0;
  box-sizing: border-box;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 34px;
}

main > section > h2 {
  display: flex;
  width: 100%;
  max-width: 400px;
  font-size: 28px;
  margin: 0 0 16px;
}

.mainTitle {
  font-size: 34px;
  margin: 0 0 34px;
  text-align: center;
}

.contentContainer {
  width: 100%;
  max-width: 400px;
}
.contentContainer > *:first-child {
  margin-top: 0;
}
.contentContainer > *:last-child {
  margin-bottom: 0;
}

.scrollContainer {
  width: 100%;
  overflow: auto;
}

.screenshots ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  width: calc(70% * 4);
}
.screenshots ul li {
  display: inline-block;
  width: 70%;
}

.screenshots ul li:not(:last-child) {
  margin-right: 10px;
}

.screenshots ul li img {
  display: block;
  width: 100%;
  height: auto;
}

.storeLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeLinks a {
  width: 48%;
  height: auto;
  text-decoration: none;
}

.storeLinks a span,
.storeLinks a strong {
  display: block;
  margin-bottom: 10px;
  color: #a8a8a8;
}

.storeLinks a strong {
  margin-bottom: 20px;
}

.storeLinks a img {
  display: block;
  width: 100%;
  height: 100%;
}

.listOfPosibilities li:not(:last-child) {
  margin-bottom: 4px;
}

.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-media ul li {
  display: flex;
}

.social-media ul li:not(:last-child) {
  margin-right: 30px;
}

.social-media ul li a {
  text-decoration: none;
  width: 50px;
  height: 50px;
}

.social-media ul li a img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 38px;
  }

  main > section > h2 {
    max-width: 700px;
  }

  .contentContainer {
    max-width: 700px;
  }

  .screenshots ul {
    width: calc(300px * 4 + 30px);
  }

  .screenshots ul li {
    width: 300px;
  }

  .storeLinks {
    justify-content: flex-start;
  }

  .storeLinks a {
    width: 220px;
    margin-right: 30px;
  }

  .social-media ul li:not(:last-child) {
    margin-right: 40px;
  }

  .social-media ul li a {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  main > section > h2 {
    max-width: 800px;
  }

  .contentContainer {
    max-width: 800px;
  }

  .screenshots ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .screenshots ul li {
    width: 25%;
    margin-bottom: 0;
  }

  .screenshots ul li:not(:last-child) {
    margin-right: 0.5%;
  }
}
