$animation-duration: 0.5s;
$animation-delay: 0.8s;
$header-height: 50px;
$close-button-size: 40px;
$close-button-icon-container-size: 26px;
$close-button-icon-size: 12px;

$MEDIUM_GREY: #a8a8a8;
$LIGHT_GREY: #d1d1d1;

.modalWithSlideInfo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition-delay: $animation-delay;

  .info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    background-color: white;
    transform: translateY(100%);
    transition: transform $animation-duration ease-in-out;

    .headerInfo {
      position: relative;
      height: $header-height;

      .close {
        position: absolute;
        top: 4px;
        right: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $close-button-size;
        height: $close-button-size;
        border-radius: $close-button-size;
        border: none;
        cursor: pointer;
        background-color: transparent;
        outline: none;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: $close-button-icon-container-size;
          height: $close-button-icon-container-size;
          border-radius: $close-button-icon-container-size;
          background-color: $MEDIUM_GREY;

          svg {
            width: $close-button-icon-size;
            height: $close-button-icon-size;
          }
        }
      }
    }

    .infoContainer {
      padding: 4px 12px 12px 12px;
      height: calc(100% - #{$header-height});
      box-sizing: border-box;
      overflow-y: auto;

      span {
        display: block;
        color: $LIGHT_GREY;
        font-weight: 300;

        &.country {
          font-size: 20px;
          margin-bottom: 4px;
        }

        &.city {
          font-size: 18px;
          margin-bottom: 10px;
        }

        &.street,
        &.date {
          font-size: 14px;
          margin-bottom: 10px;
        }

        &.description {
          font-size: 14px;
        }
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity $animation-duration;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;

    .info {
      transform: translateY(0);
    }

    .backdrop {
      opacity: 1;
    }
  }

  @media screen and (min-width: 480px) {
    .info {
      width: 480px;
      left: 50%;
      transform: translateY(100%) translateX(-50%);
    }

    &.visible {
      .info {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  @media screen and (min-width: 620px) {
    .info {
      .headerInfo {
        .close {
          width: 50px;
          height: 50px;

          span {
            width: 30px;
            height: 30px;
            border-radius: 30px;

            svg {
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      .infoContainer {
        span {
          &.country {
            font-size: 22px;
          }

          &.city {
            font-size: 20px;
          }

          &.street,
          &.date {
            font-size: 16px;
          }

          &.description {
            font-size: 16px;
          }
        }
      }
    }
  }
}
