$animation-duration: 0.5s;
$animation-delay: 0.8s;

.modalWithRouteInfo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition-delay: $animation-delay;

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity $animation-duration;

    li {
      display: block;
      list-style: none;
      margin-bottom: 8px;

      span {
        font-size: 14px;

        &:first-child {
          margin-right: 4px;
        }
        &:last-child {
          font-weight: 300;
        }

        &.date {
          white-space: nowrap;
        }
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity $animation-duration;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;

    .info {
      opacity: 1;
    }

    .backdrop {
      opacity: 1;
    }
  }

  @media screen and (min-width: 620px) {
    .info {
      width: 320px;
      padding: 14px 20px;

      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
