$header-height: 50px;
$slideshow-item-size: 140px;
$slideshow-item-margin: 6px;
$slideshow-height: calc(#{$slideshow-item-size} + #{$slideshow-item-margin * 2});

$LIGHT_GREY: #d1d1d1;
$BLUE: #5c93c4;

html {
  height: 100%;

  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    min-height: 100%;
  }

  main {
    height: 100%;
  }
}

/* TODO: Combine loader styles with main style.css */
.notFoundContainer,
.loaderContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 50px;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: $header-height;
    transition: transform 0.5s;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      outline: none;

      svg {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }

      &.walk,
      &.drive {
        border: 2px solid $LIGHT_GREY;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        color: $LIGHT_GREY;
        background-color: transparent;

        svg {
          fill: $LIGHT_GREY;
        }
      }

      &.current {
        border: 2px solid $BLUE;
        color: $BLUE;

        svg {
          fill: $BLUE;
        }
      }

      &.direction {
        border: 2px solid $BLUE;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        background-color: $BLUE;
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }

  .map {
    position: relative;
    width: 100%;
    height: calc(100% - #{$slideshow-height} - #{$header-height});
  }

  .bottomSlideshow {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: $slideshow-height;
    box-sizing: border-box;
    white-space: nowrap;

    li {
      position: relative;
      display: inline-block;
      width: $slideshow-item-size;
      height: $slideshow-item-size;
      padding: $slideshow-item-margin 0;
      margin: 0 $slideshow-item-margin 0 0;
      cursor: pointer;

      .number {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 70px;
        font-weight: 300;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: background-color 0.3s;
      }

      &.current {
        .number {
          background-color: white;
        }
      }

      &:first-child {
        margin-left: $slideshow-item-margin;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 620px) {
    width: 620px;
    margin: 0 auto;
  }
}
