$controls-direction-height: 50px;
$sticky-header-height: 80px;
$slideshow-item-size: 140px;
$slideshow-item-margin: 6px;
$slideshow-height: calc(#{$slideshow-item-size} + #{$slideshow-item-margin * 2});

$LIGHT_GREY: #d1d1d1;
$BLUE: #5c93c4;

html {
  height: 100%;

  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    min-height: 100%;
  }

  main {
    height: 100%;
    padding: 100px 20px 0; /* 80px + 20px */
    box-sizing: border-box;
  }
}

/* TODO: Combine loader styles with main style.css */
.notFoundContainer,
.loaderContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 50px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;

  &.sticky {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }

  .headerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
    padding-right: 70px;
    padding-left: 70px;
    margin: 0 auto;
    box-sizing: border-box;

    a {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 60px;
      height: 60px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .mainTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 24px;
      margin: 0;
      text-align: center;
    }
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 34px;

  .contentContainer {
    width: 100%;
    max-width: 500px;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.appDescriptionSection {
  .moreDescriptionContainer {
    position: relative;
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;

    > p {
      margin-top: 0;
    }

    &.open {
      max-height: 1000px;
    }
  }

  .moreDescriptionButtonContainer {
    text-align: center;

    .moreDescriptionButton {
      display: inline-block;
      padding: 0 40px;
      height: 40px;
      font-size: 22px;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: #5c93c4;
    }
  }
}

.storeLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    width: 48%;
    height: auto;
    text-decoration: none;

    span,
    strong {
      display: block;
      margin-bottom: 10px;
      color: #a8a8a8;
    }

    strong {
      margin-bottom: 20px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$sticky-header-height});
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;

  .controlsDirection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: $controls-direction-height;
    transition: transform 0.5s;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      outline: none;

      svg {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }

      &.walk,
      &.drive {
        border: 2px solid $LIGHT_GREY;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        color: $LIGHT_GREY;
        background-color: transparent;

        svg {
          fill: $LIGHT_GREY;
        }
      }

      &.current {
        border: 2px solid $BLUE;
        color: $BLUE;

        svg {
          fill: $BLUE;
        }
      }

      &.direction {
        border: 2px solid $BLUE;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        background-color: $BLUE;
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }

  .map {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$slideshow-height} - #{$controls-direction-height} - #{$sticky-header-height});
  }

  .bottomSlideshow {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: $slideshow-height;
    box-sizing: border-box;
    white-space: nowrap;

    li {
      position: relative;
      display: inline-block;
      width: $slideshow-item-size;
      height: $slideshow-item-size;
      padding: $slideshow-item-margin 0;
      margin: 0 $slideshow-item-margin 0 0;
      cursor: pointer;

      .number {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 70px;
        font-weight: 300;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: background-color 0.3s;
      }

      &.current {
        .number {
          background-color: white;
        }
      }

      &:first-child {
        margin-left: $slideshow-item-margin;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header .headerContainer,
  section .contentContainer,
  .container {
    max-width: 700px;
  }

  .mainTitle {
    font-size: 30px;
  }

  .storeLinks {
    justify-content: flex-start;

    a {
      width: 250px;
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .mainTitle {
    font-size: 32px;
  }

  .header .headerContainer,
  section .contentContainer,
  .container {
    max-width: 800px;
  }

  .storeLinks {
    a {
      width: 260px;
    }
  }
}
